@model GerenciaChimarrao.Models.Gaucho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gaucho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imagem.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusGaucho.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusGaucho.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
